---
// src/components/CommentsSection.astro
import Disqus from './Disqus.astro';
---

<div class='bg-gray-50'>
  <div class='max-w-screen-xl mx-auto py-16'>
    <h2 class='text-5xl mb-8 font-semibold text-gray-900 px-4'>
      Comentarios <!-- -->&nbsp;<span class='underline'>y opiniones</span>
    </h2>
    <div class='px-4'>
      <Disqus />
    </div>
  </div>
</div>