---
// No necesitamos importar Github porque lo estamos eliminando
---

<div class='bg-book-gray text-gray-50 py-12 flex flex-col justify-center items-center'>
  <p class='text-ms text-center mb-4'>
    Esta web fue desarrollada por
    <span class='text-book-theme'>Fazil</span>
  </p>
  
</div>