---
// No necesitamos importar Github porque lo estamos eliminando
---

<div class='bg-book-gray text-gray-50 py-12 flex flex-col justify-center items-center'>
  <p class='text-ms text-center mb-4'>
    Esta web fue desarrollada por
    <span class='text-book-theme'>Manuel Bedoya</span>
  </p>
  <p class='text-lg text-center'>
    <a
      class='text-book-theme border-b-2 border-transparent hover:border-book-yellow transition ease-in-out duration-300'
      href='mailto:hello@okdaru.com'
    >
      hello@okdaru.com
    </a>
  </p>
</div>