---
import { Image } from 'astro:assets';
import { showBuyAudiobookButton, showAmazonTag, book } from '../config.json';
---

<main
  class='mx-auto max-w-screen-xl px-4 mb-8 mt-12 sm:mt-12 sm:mb-12 sm:px-6 md:mt-32 md:mb-20 xl:mt-23 xl:mb-24'
>
  <div class='lg:grid lg:grid-cols-12 lg:gap-12'>
    <div class='mb-12 md:max-w-2xl md:mx-auto lg:col-span-8'>
      {
        showAmazonTag && (
          <div class='text-base uppercase tracking-wide mb-4 font-semibold'>
            <Image
              class='inline h-5 relative'
              style='top:3px'
              src='/amazon.svg'
              alt='amazon.com'
              width={300}
              height={480}
              loading={'eager'}
            />{' '}
            best-seller
          </div>
        )
      }

      <h1
        class='mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl uppercase'
      >
        Startups y<!-- -->&nbsp;<br class='hidden md:inline' />
        <span class='underline'>Ángeles</span>
      </h1>

      <p class='mt-4 text-xl text-gray-600 sm:mt-6 sm:text-xl lg:text-xl xl:text-xl font-body'>
        En mi libro "Startups y Ángeles", exploro el mundo de los ángeles
        inversionistas en América Latina y su rol catalizador en el ecosistema
        emprendedor. A través de historias reales y análisis detallados,
        destaco cómo estos visionarios no solo aportan capital sino también
        conocimiento, redes de contactos y una pasión por la innovación, que
        son fundamentales para transformar simples ideas en empresas que lideran
        el cambio en la región.
      </p>

      <p class='mt-4 text-xl text-gray-600 sm:mt-6 sm:text-xl lg:text-xl xl:text-xl font-body'>
        En resumen, "Startups y Ángeles" es una guía esencial para comprender 
        cómo se entrelazan el capital de riesgo y el emprendimiento en 
        América Latina. Si eres un emprendedor ansioso por entender la 
        perspectiva de los ángeles inversionistas en la región, este libro 
        será una herramienta invaluable. Además, si estás considerando iniciar
        tu trayectoria como inversionista en Latam, te ofrezco una visión detallada
        tanto a nivel micro como macro, proporcionándote los recursos necesarios
        para embarcarte en este viaje con confianza.
      </p>

      <div class='mt-8 sm:mt-10'>
        <div class='sm:flex sm:justify-center lg:justify-start'>
          <div>
            <a
              href='#buy'
              class='w-full flex items-center justify-center px-8 py-4 border border-transparent text-xl font-bold rounded-md text-black bg-book-theme hover:bg-yellow-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-400 transition duration-300 ease-in-out md:py-5 md:text-2xl md:px-12'
            >
              Compre el libro
            </a>
          </div>
          {
            showBuyAudiobookButton && (
              <div class='mt-4 sm:mt-0 sm:ml-4'>
                <a
                  href='#audiobook'
                  class='w-full flex items-center justify-center px-8 py-4 border border-transparent text-lg font-semibold rounded-md text-white bg-book-gray hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 transition duration-300 ease-in-out md:py-5 md:text-xl md:px-12'
                >
                  Compre un Audiolibro
                </a>
              </div>
            )
          }
        </div>
        
        <p class='mt-4 text-book-gray sm:mt-6 sm:text-base'>
          {/* Espacio reservado para la descarga del primer capítulo (desactivado) */}
          <span class="invisible">Descarga el primer capítulo gratis</span>
        </p>
      </div>
    </div>

    <div class='mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-4 lg:flex lg:items-center'>
      <a class='book-container'>
        <div class='book'>
          <Image
            src={'/Cover-2_Startup_&_Angeles.jpg'}
            width={300}
            height={600}
            alt={book.title}
            format={'avif'}
            loading={'eager'}
            class='shadow-2xl'
          />
        </div>
      </a>
    </div>
  </div>
</main>
