---
import Instagram from './icons/Instagram.astro';
import Linkedin from './icons/Linkedin.astro';
import Twitter from './icons/Twitter.astro';
import { Image } from 'astro:assets';

import { author } from '../config.json';
---

<div class='bg-gray-50'>
  <div class='max-w-screen-xl mx-auto py-16'>
    <h2 class='text-5xl mb-8 font-semibold text-gray-900 px-4'>
      ¿Por qué <!-- -->&nbsp;<span class='underline'>leerlo?</span>
    </h2><div class='flex-none sm:flex'>
      <div class='sm:flex-1 px-4'>
        <Image
          class='mb-4 rounded-md'
          src={'/Ana_Maria_Prieto_Pena_1.jpg'}
          width={500}
          height={500}
          alt={author.name}
          format={'avif'}
        />
      </div><div class='text-xl text-gray-600 sm:flex-1 px-4 font-body'>
        <p class='mb-4'>
          Si eres emprendedor, este libro te ayudará a comprender cómo piensan
          los inversionistas ángeles, qué buscan en una startup y cómo puedes 
          prepararte para captar su interés. Conocerás de primera mano los desafíos
          y estrategias clave que han llevado a otros emprendedores a conseguir 
          inversión y escalar sus negocios en América Latina.
        </p><p class='mb-4'>
          Si eres inversionista o estás considerando entrar en este mundo, aquí
          encontrarás un mapa detallado del ecosistema de venture capital en la 
          región. Aprenderás a evaluar startups, mitigar riesgos y estructurar 
          inversiones inteligentes que no solo generen retornos financieros, sino
          que también impulsen un impacto real.

        </p><p class='mb-4'>
          "Startups y Ángeles" no solo explica el rol de los ángeles inversionistas,
           sino que te da las herramientas para ser parte activa de la revolución
          emprendedora que está transformando América Latina.
        
        
        </p><div class='flex flex-row my-2'>
          <a title='Instagram link' href={author.instagramUrl} target='_blank'
            ><Instagram /></a
          >
          <a title='Twitter link' href={author.twitterUrl} target='_blank'
            ><Twitter /></a
          >
          <a title='LinkedIn link' href={author.linkedinUrl} target='_blank'>
            <Linkedin />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
